/* Top Bar */
.wd-top-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  height:20px;
}

.wd-back-button {
  background-color: transparent;
  border: none;
  position: absolute;
  padding-left:5px;
  cursor: pointer;
}

.wd-back-button i {
  color: black;
  font-size: 18px;
}

.wd-top-bar-title {
  font-weight: bold;
  color: black;
  padding-left:10%;
}

.wd-tuit-more-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.wd-tuit-more-button i {
  font-size: 28px;
  color: #555;
}

/* Tuits */
.wd-tuits-list {
  list-style-type: none;
  padding: 0;
}

.wd-tuit-content {
  display: flex;
  align-items: center;
  margin-top:20px;
  margin-bottom: 20px;
  white-space:nowrap;
}

ul{
    list-style:none;
}

.wd-tuit-avatar {
  display:flex;
  align-items:center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom:10px;
  margin-top:10px;
}

.wd-tuit-text {
  flex-grow: 1;
}

.wd-tuit-username {
  position:relative;
  font-weight: bold;
}

.wd-tuit-lil-title {
  position:absolute;
  margin-left:60px;
  margin-top :35px;
}

.wd-tuit-date {
  color: darkgray;
  font-size: 14px;
}

.wd-tuit-userid {
  color: darkgray;
  font-size: 14px;
  padding-left:10px;
}


.wd-image-container {
  max-width: 100%;
  padding-left:60px;
  padding-top:30px;
  padding-right:15px;
}

.wd-image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position:relative;
}

.wd-text-container {
  position: relative;
  padding-right:15px;
  display: block;
  padding: 10px;
  bottom:0;
  left:0;
  right:0;
  border-top:none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid darkgray;
}

.wd-tuit-website{
    font-size: 15px;
    color: gray;
}

.wd-tuit-hook-title{
    font-size:20px;
    color: black;
    overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
}

.wd-tuit-block-text{
    font-size: 15px;
    color: gray;
    overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
}

.wd-share-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-right: 12%;
  padding-bottom: 20px;
}

.wd-share-bar-logo {
  display: flex;
  align-items: center;

}

.wd-share-bar-logo span {
  position:relative;
  padding-left: 10px;
  font-size: 14px;
  color: darkgray;
}


